<h1>Listing veenda_tests</h1>

<table>
  <tr>
    <th>Tester</th>
    <th>Developer</th>
    <th>Description</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @veenda_tests.each do |veenda_test| %>
  <tr>
    <td><%= veenda_test.tester_id %></td>
    <td><%= veenda_test.developer_id %></td>
    <td><%= veenda_test.description %></td>
    <td><%= veenda_test.result %></td>
    <td><%= link_to 'Show', veenda_test %></td>
    <td><%= link_to 'Edit', edit_veenda_test_path(veenda_test) %></td>
    <td><%= link_to 'Destroy', veenda_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Veenda test', new_veenda_test_path %>
