<% provide(:title, 'Admin Panel') %>
<h1>Administration Panel</h1>

<div class="btn-group-vertical">
	<%= link_to "Initialize Memberships", admins_init_memberships_path, class: "btn btn-large btn-info" %>
	<%= link_to "Initialize Task Types", admins_init_task_types_path, class: "btn btn-large btn-info" %>
	<%= link_to "Initialize Estimates", admins_init_estimates_path, class: "btn btn-large btn-info" %>
	<%= link_to "Initialize Columns", admins_init_columns_path, class: "btn btn-large btn-info" %>
	<%= link_to "Initialize Tasks", admins_init_tasks_path, class: "btn btn-large btn-info" %>
		
</div>