<% task = kanban_test.task %>
<div class="row tasks">
	<div class="col-md-1"><%= gravatar_for task.owner, size: 40 %></div>
	<div class="col-md-6 title">
		<%= link_to task.title.capitalize, edit_kanban_test_path(kanban_test) %>
	</div>
	<div class="col-md-1 github"><%= github_for task, size: 40 %></div>
	<div class="col-md-2 task_id"><p><%= "\##{task.id}" %></p></div>
	<div class="col-md-2 task_info" id="<%= task.id %>">
		<p>
			<%= task.task_type.name.downcase.capitalize %>
		</p>
	</div>
</div>
<script type="text/javascript">
	$('#' + '<%= task.id %>').css('background-color', '#' + '<%= task.task_type.color_hex %>');
</script>

