<p>
  <b>Tester:</b>
  <%= @kanban_test.tester_id %>
</p>

<p>
  <b>Developer:</b>
  <%= @kanban_test.developer_id %>
</p>

<p>
  <b>Description:</b>
  <%= @kanban_test.description %>
</p>


<% if @kanban_test.result %>
	<p>
		<b>Result:</b>
		<%= @kanban_test.result %>
	</p>
<% end %>



<%= link_to 'Edit', edit_kanban_test_path(@kanban_test) %>
<%= link_to 'Back', kanban_tests_path %>
